<!-- -->
<launch>

    <arg name="gui" default="0" />
    <arg name="paused" default="0" />
    <arg name="config_pkg" default="nao_config_simulation"/>
    <arg name="map_suffix" default="nao" />

    <rosparam command="load" ns="tfd_modules" file="$(find tfd_modules)/config/timeout_90s_5min_nontemporal.yaml" />

    <node name= "kick_action_server" pkg= "nao_msgs" type= "kick_action_server"/>
    <node name= "pickup_action_server" pkg= "nao_msgs" type= "pickup_action_server"/>
    <node name= "drop_action_server" pkg= "nao_msgs" type= "drop_action_server"/>
    <node name= "walk_action_server" pkg= "nao_msgs" type= "walk_action_server"/>
    <node name= "walkholding_action_server" pkg= "nao_msgs" type= "walkholding_action_server"/>
    <node name= "turn_action_server" pkg= "nao_msgs" type= "turn_action_server"/>
    
    <node name= "rviz" pkg= "rviz" type= "rviz"/>


    <!-- start executive -->
    <node pkg="continual_planning_executive" type="continual_planning_executive" args="" respawn="false" name="continual_planning_executive" output="screen" >
        <param name="start_paused" value="$(arg paused)" />
        <param name="domain_file" value="$(find nao_domains)/nao-world/nao-world.pddl" />

        <rosparam command="load" file="$(arg config_pkg)/config/planning/$(arg map_suffix)_actions.yaml" />
	<rosparam command="load" file="$(arg config_pkg)/config/planning/map2.yaml" />
        <rosparam command="load" file="$(find tfd_modules)/config/tfdm_interface.yaml" />
        <!-- navstack_init "fixed_frame" "goal_tolerance used in planner requests" 
             "goal_tolerance is relative to move_base's xy_goal_tolerance either
             0 for false or the namespace to base_local_planner params" 
             1 means - guess namespace -->
        <!--<rosparam param="planner_options">
        </rosparam> -->
        <!--<env name="LD_LIBRARY_PATH" value="$(find planner_modules_pr2)/lib:$(optenv LD_LIBRARY_PATH)" /> -->
    </node>

    <node if="$(arg gui)" pkg="continual_planning_monitor" type="continual_planning_monitor" name="continual_planning_monitor" />

</launch>

